# venv
/.venv
/.ruff_cache
/build
/ola_out
out*
instructions
py_models

# data
/dataset
/docs
*.pt
*.jsonl
*.egg-info

# Python
/__pycache__
/.pytest_cache
/htmlcov
*.pyc
.coverage

# IDE
/.vscode
/.idea

# AI
.claude
